<div class="row">
    <div class="col-md-12">
        <div style="padding:15px 0px;">
            <h3>会员三项指标</h3>
            <hr />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="ibox">
            <div class="ibox-title">
                <span class="label label-success pull-right">截止当前</span>
                <h5>会员总数</h5>
            </div>
        </div>
        <div class="ibox-content">
            <h1>56</h1>
            <div class="stat-percent font-bold text-success">
                <i class="fa fa-exchange"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="ibox">
            <div class="ibox-title">
                <span class="label label-success pull-right">2017/1/24</span>
                <h5>月新增会员数</h5>
            </div>
        </div>
        <div class="ibox-content">
            <h1>3</h1>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="ibox">
            <div class="ibox-title">
                <span class="label label-success pull-right">百分比</span>
                <h5>有效会员率</h5>
            </div>
        </div>
        <div class="ibox-content">
            <h1>35%</h1>
        </div>
    </div>
</div>
